<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CoreNetLibrary.Infraestructure.ConsoleTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CoreNetLibrary.Infraestructure.ConsoleTest.Properties.Settings>
      <setting name="CoreNetLibrary_Infraestructure_ConsoleTest_WebReference_IBancorRecaudoWSservice"
          serializeAs="String">
        <value>http://192.168.248.237/BancorWS/Credito/BCWebServiceRecaudo.dll/soap/IBancorRecaudoWS</value>
      </setting>
    </CoreNetLibrary.Infraestructure.ConsoleTest.Properties.Settings>
  </applicationSettings>
  <!--<system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="CoreNetLibrary.Infraestructure.WebServices.Extensions.EncoderExtension, CoreNetLibrary.Infraestructure" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>-->
</configuration>